
$primary: #EE5C67;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: $white;
$secondary: #F4D5D8;
$body-bg: $secondary;
$navbar-dark-color: $white;
$border-radius: 100rem;
$border-color: $primary;
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.5rem;
$black: #1A1A1A;
$font-family-sans-serif: "Quicksand";
$input-btn-font-family: "Passion One";
$input-font-family: "Passion One";
$btn-font-family: "Passion One";
$font-family-monospace: "Quicksand";
$font-family-base: "Quicksand";
$carousel-caption-color: $secondary;