.text-passion{
    font-family: 'Passion One', cursive;
}
.text-comfortaa{
    font-family: 'Comfortaa', cursive;
}
.text-quicksand{
    font-family: 'Quicksand', sans-serif;
}

input{
    font-family: 'Quicksand', sans-serif;
    color:#1A1A1A;
}
input::placeholder {
    font-family: 'Quicksand', sans-serif;
    color: #AFB4B8;
}

h1,h2,h3,h5{
    font-family: 'Passion One', cursive;
    letter-spacing: 0.25rem;
}

h1,h2{
    font-weight: 700;
}
h4{
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    letter-spacing: 0.25rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol {
    padding-left: 16px;
}

ul.list-dashed li::before {
    content: "-";
    padding-right: 8px;
    color: #1A1A1A;
}

.main-carousel .carousel-item{
    height: 700px;
}

.main-carousel .carousel-item .image-container{
    height: 100%;
}

.main-carousel .carousel-item img{
    object-fit: cover;
}

.main-carousel .carousel-caption{
    left:50px;

}
.main-carousel .carousel-caption h1{
    font-weight: 700;
    font-size: 90px;
    line-height: 99px;
    letter-spacing: 0.1em;
}
.main-carousel .carousel-caption p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.testimonials .carousel .carousel-item{
    font-size: 1.1rem;
    line-height: 2rem;
}

.image-container {
    position: relative;
}
.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.testimonials .image-container{
    height: 100%;
}
.testimonials .image-container img{
    height: 100%;
    object-fit: cover;
}

.text-larger{
    font-size: 1.1rem;
}

.subscribe-input{
    border-radius: 100rem;
    border: 1px solid #EE5C67;
}

.subscribe-input input{
    border: none;
}

.footer-container{
    max-width: 1150px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    letter-spacing: 0.2rem;
}
.btn-secondary{
    border: 1px solid #EE5C67;
    color: #EE5C67;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.btn-secondary:hover{
    color: #FFFFFF;
    background-color: #EE5C67;
}

.dropdown-toggle::after{
    display: none;
}

.nav-link{
    font-size: 1.2rem;
    letter-spacing: 0.2em;
}

.nav-item .dropdown-menu{
    min-width: 20rem;
}
.nav-item .dropdown-item{
    height: 70px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.1em;
}
